.jumbotron-fluid {
    height: 125px;
}

h1 {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    float: left;
    padding: 15px;
    border: 5px solid black;
}

#instructions {
    background: paleturquoise;
}

.random-number {
    background: purple;
    width: 200px;
    height: 200px;
    font-size: 20px;
    text-align: center;
    color: white;
}

#losses-wins {
    background: orange;
    width: 125px;
    height: 125px;
    float: left;
}

#user-guesses {
    background: yellowgreen;
    width: 200px;
    height: 200px;
    clear: both;
}

#instructions {
    text-align: center;
}
